<form action="/productos" method="post">
  <div class="mb-3">
    <label class="form-label">Título</label>
    <input type="text" class="form-control" name="titulo" id="titulo">
  </div>
  <div class="mb-3">
    <label class="form-label">Tomo</label>
    <input type="number" class="form-control" name="tomo" id="tomo">
  </div>
  <div class="mb-3">
    <label class="form-label">Precio</label>
    <input type="number" class="form-control" name="precio" id="precio">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<div>
  <a href="/productos/tabla"><button>Ver tabla</button></a>
</div>